<!DOCTYPE html>
<!-- This is a comment... -->
<html>
  <head>
    <meta charset="utf-8">
    <title>Encryption</title>
  </head>
  <body>
    <!-- this line of code holds a value input by the user and creates form field for user-->
    <input type="text" placeholder="Type" id="inputId">
    <button type="button" onclick="doSomething();">Encrypt</button>
    <button type="button" onclick="decrypt();">Decrypt</button>
    <p id="display1">Encrypted message</p>
    <p id="display2">Encrypted message</p>
    <p id="display3">Encrypted message</p>
  </body>
  <!-- insert js/encrypt code -->
  <script src="js/encryptTemplate.js"></script>
</html>